In [603]:
# mengimport libraries yg diperlukan

import pandas as pd
import numpy as np
import csv

In [604]:
# mengimport dataset hasil preprocessing dan mengubah dalam bentuk list

with open('dataset2_fixed.csv', newline='') as f:
    reader = csv.reader(f)
    data = list(reader)

print(data)

[['NIM', 'TUGAS1', 'TUGAS2', 'QUIZ1', 'QUIZ2', 'UTS', 'UAS'], ['1101110061', '50', '75', '50', '78', '79', '40'], ['1101110062', '66', '80', '60', '50', '65', '26'], ['1101110063', '60', '75', '77', '79', '80', '51'], ['1101110064', '52', '85', '50', '80', '80', '30'], ['1101110065', '70', '85', '72', '80', '80', '88'], ['1101110066', '67', '77', '75', '80', '50', '95'], ['1101110067', '72', '80', '70', '90', '85', '86'], ['1101110068', '66', '95', '72', '85', '60', '95'], ['1101110069', '76', '95', '90', '100', '95', '79'], ['1101110070', '80', '90', '100', '100', '66', '45'], ['1101110071', '92', '75', '60', '92', '86', '79'], ['1101110072', '59', '85', '60', '80', '80', '42'], ['1101110073', '55', '80', '70', '90', '85', '61'], ['1101110074', '82', '81', '64', '67', '60', '85'], ['1101110075', '98', '95', '80', '100', '100', '100'], ['1101110076', '50', '68', '70', '70', '85', '70'], ['1101110077', '100', '100', '90', '90', '95', '96'], ['1101110078', '60', '90', '60', '80', '80', '32'], ['1101110079', '95', '100', '78', '66', '100', '90'], ['1101110080', '50', '80', '60', '80', '80', '91'], ['1101110081', '73', '95', '90', '90', '95', '88'], ['1101110082', '100', '66', '100', '95', '90', '98'], ['1101110083', '80', '95', '90', '90', '95', '100'], ['1101110084', '50', '51', '50', '51', '51', '51'], ['1101110085', '62', '95', '90', '90', '95', '58'], ['1101110086', '90', '95', '92', '75', '80', '77'], ['1101110087', '60', '95', '70', '70', '85', '64'], ['1101110088', '64', '80', '80', '80', '90', '54'], ['1101110089', '85', '85', '90', '95', '90', '100'], ['1101110090', '50', '90', '66', '60', '70', '20'], ['1101110091', '60', '80', '80', '80', '80', '72'], ['1101110092', '67', '95', '70', '90', '85', '92'], ['1101110093', '60', '84', '82', '71', '84', '60'], ['1101110094', '52', '70', '50', '78', '79', '25'], ['1101110095', '53', '100', '90', '90', '95', '74'], ['1101110096', '50', '85', '60', '80', '80', '42'], ['1101110097', '71', '85', '63', '91', '98', '73'], ['1101110098', '50', '66', '70', '90', '85', '37'], ['1101110099', '88', '90', '80', '88', '94', '56'], ['1101110100', '85', '85', '90', '95', '77', '100'], ['1101110101', '60', '70', '20', '67', '50', '90']]

In [605]:
# data sudah berbentuk list

print(type(data))

<class 'list'>

In [606]:
# ubah list menjadi dataframe (df)

df = pd.DataFrame(data[1:],columns=data[0])
df.head()

          NIM TUGAS1 TUGAS2 QUIZ1 QUIZ2 UTS UAS
0  1101110061     50     75    50    78  79  40
1  1101110062     66     80    60    50  65  26
2  1101110063     60     75    77    79  80  51
3  1101110064     52     85    50    80  80  30
4  1101110065     70     85    72    80  80  88

In [607]:
# cek tipe data tiap kolom
# diketahui semua kolom bertipe string (di pandas disebut sbg object)

print(df.dtypes)

NIM       object
TUGAS1    object
TUGAS2    object
QUIZ1     object
QUIZ2     object
UTS       object
UAS       object
dtype: object

In [608]:
# karena diketahui tipe data belum integer,
# maka ubah menjadi integer agar bisa melakukan proses statistik

# samakan semua tipe data menjadi integer
df['NIM'] = df['NIM'].astype(int)
df['TUGAS1'] = df['TUGAS1'].astype(int)
df['TUGAS2'] = df['TUGAS2'].astype(int)
df['QUIZ1'] = df['QUIZ1'].astype(int)
df['QUIZ2'] = df['QUIZ2'].astype(int)
df['UTS'] = df['UTS'].astype(int)
df['UAS'] = df['UAS'].astype(int)

print(df.dtypes)

NIM       int32
TUGAS1    int32
TUGAS2    int32
QUIZ1     int32
QUIZ2     int32
UTS       int32
UAS       int32
dtype: object

In [609]:
# Melakukan perhitungan statistik: max

print('Nilai Maximum')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai max pada semua kolom
    max_value = df[df.columns[i]].max()
    # cetak hasilnya
    print(df.columns[i],': ',max_value)

Nilai Maximum
TUGAS1 :  100
TUGAS2 :  100
QUIZ1 :  100
QUIZ2 :  100
UTS :  100
UAS :  100

In [610]:
# Melakukan perhitungan statistik: min

print('Nilai Minimum')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai min pada semua kolom
    min_value = df[df.columns[i]].min()
    # cetak hasilnya
    print(df.columns[i],': ',min_value)

Nilai Minimum
TUGAS1 :  50
TUGAS2 :  51
QUIZ1 :  20
QUIZ2 :  50
UTS :  50
UAS :  20

In [611]:
# Melakukan perhitungan statistik: mean

print('Nilai Mean')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai mean pada semua kolom,
    # bulatkan (round) menjadi 2 angka di belakang koma
    # lalu cetak hasilnya
    print(df.columns[i],': ',round(df[df.columns[i]].mean(),2))

Nilai Mean
TUGAS1 :  68.54
TUGAS2 :  84.1
QUIZ1 :  72.71
QUIZ2 :  81.78
UTS :  81.44
UAS :  68.59

In [612]:
# Melakukan perhitungan statistik: var

print('Nilai Varians')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai var pada semua kolom,
    # bulatkan (round) menjadi 2 angka di belakang koma
    # lalu cetak hasilnya
    print(df.columns[i],': ',round(df[df.columns[i]].var(),2))

Nilai Varians
TUGAS1 :  250.15
TUGAS2 :  119.74
QUIZ1 :  266.86
QUIZ2 :  149.73
UTS :  176.5
UAS :  613.6

In [613]:
# Melakukan perhitungan statistik: std dev

print('Nilai Standar Deviasi')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai std pada semua kolom,
    # bulatkan (round) menjadi 2 angka di belakang koma
    # lalu cetak hasilnya
    print(df.columns[i],': ',round(df[df.columns[i]].std(),2))

Nilai Standar Deviasi
TUGAS1 :  15.82
TUGAS2 :  10.94
QUIZ1 :  16.34
QUIZ2 :  12.24
UTS :  13.29
UAS :  24.77

In [614]:
# Melakukan perhitungan statistik: median

print('Nilai Median')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai median pada semua kolom,
    # bulatkan (round) menjadi 2 angka di belakang koma
    # lalu cetak hasilnya
    print(df.columns[i],': ',round(df[df.columns[i]].median(),2))

Nilai Median
TUGAS1 :  66.0
TUGAS2 :  85.0
QUIZ1 :  72.0
QUIZ2 :  80.0
UTS :  84.0
UAS :  73.0

In [615]:
# Melakukan perhitungan statistik: modus

print('Nilai Modus')

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # cari nilai modus pada semua kolom
    # lalu cetak hasilnya
    print(df.columns[i],': ',df.mode()[df.columns[i]][0])

Nilai Modus
TUGAS1 :  50.0
TUGAS2 :  95.0
QUIZ1 :  90.0
QUIZ2 :  80.0
UTS :  80.0
UAS :  100.0

In [527]:
# Melakukan perhitungan statistik: pencilan atas dan bawah

# import library yg diperlukan
import numpy as np

# mencari berapa jumlah kolom pada df (dataframe)
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range(1, df_len):
    print("Mencari pencilan untuk kolom ",df.columns[i])

    # Hitung nilai Q1 (kuartil 1) dan Q3 (kuartil 3)
    Q1 = np.quantile(df[df.columns[i]], .25)
    Q3 = np.quantile(df[df.columns[i]], .75)

    # Hitung nilai IQR
    IQR = Q3 - Q1

    print('Kuartil 1 = ', Q1)
    print('Kuartil 3 = ', Q3)
    print('IQR = ', IQR)

    min_IQR = Q1 - 1.5 * IQR
    max_IQR = Q3 + 1.5 * IQR

    print('IQR minimum = ', min_IQR)
    print('IQR maksimum = ', max_IQR)

    nilai_min = np.min(df[df.columns[i]])
    nilai_max = np.max(df[df.columns[i]])

    print('Nilai minimum data = ', nilai_min)
    print('Nilai maksimum data = ', nilai_max)

    if (nilai_min < min_IQR):
        print('Ditemukan pencilan bawah')
    else:
        print('Tidak ditemukan pencilan bawah')  

    if (nilai_max > max_IQR):
        print('Ditemukan pencilan atas')
    else:
        print('Tidak ditemukan pencilan atas')

    # buat list untuk menampung pencilan atas (high_out) dan pencilan bawah (low_out)
    low_out = []
    high_out = []

    # simpan ke dalam list tersebut jika ditemukan pencilan atas atau bawah
    for j in df[df.columns[i]]:
        if (j < min_IQR):
            low_out.append(j)
        if (j > max_IQR):
            high_out.append(j)

    # cetak pencilan atas dan bawah jika ditemukan
    print('Pencilan bawah : ', low_out)
    print('Pencilan atas : ', high_out)

    print('\n=============================\n')

Mencari pencilan untuk kolom  TUGAS1
Kuartil 1 =  55.0
Kuartil 3 =  80.0
IQR =  25.0
IQR minimum =  17.5
IQR maksimum =  117.5
Nilai minimum data =  50
Nilai maksimum data =  100
Tidak ditemukan pencilan bawah
Tidak ditemukan pencilan atas
Pencilan bawah :  []
Pencilan atas :  []

=============================

Mencari pencilan untuk kolom  TUGAS2
Kuartil 1 =  80.0
Kuartil 3 =  95.0
IQR =  15.0
IQR minimum =  57.5
IQR maksimum =  117.5
Nilai minimum data =  51
Nilai maksimum data =  100
Ditemukan pencilan bawah
Tidak ditemukan pencilan atas
Pencilan bawah :  [51]
Pencilan atas :  []

=============================

Mencari pencilan untuk kolom  QUIZ1
Kuartil 1 =  60.0
Kuartil 3 =  90.0
IQR =  30.0
IQR minimum =  15.0
IQR maksimum =  135.0
Nilai minimum data =  20
Nilai maksimum data =  100
Tidak ditemukan pencilan bawah
Tidak ditemukan pencilan atas
Pencilan bawah :  []
Pencilan atas :  []

=============================

Mencari pencilan untuk kolom  QUIZ2
Kuartil 1 =  78.0
Kuartil 3 =  90.0
IQR =  12.0
IQR minimum =  60.0
IQR maksimum =  108.0
Nilai minimum data =  50
Nilai maksimum data =  100
Ditemukan pencilan bawah
Tidak ditemukan pencilan atas
Pencilan bawah :  [50, 51]
Pencilan atas :  []

=============================

Mencari pencilan untuk kolom  UTS
Kuartil 1 =  79.0
Kuartil 3 =  90.0
IQR =  11.0
IQR minimum =  62.5
IQR maksimum =  106.5
Nilai minimum data =  50
Nilai maksimum data =  100
Ditemukan pencilan bawah
Tidak ditemukan pencilan atas
Pencilan bawah :  [50, 60, 60, 51, 50]
Pencilan atas :  []

=============================

Mencari pencilan untuk kolom  UAS
Kuartil 1 =  51.0
Kuartil 3 =  90.0
IQR =  39.0
IQR minimum =  -7.5
IQR maksimum =  148.5
Nilai minimum data =  20
Nilai maksimum data =  100
Tidak ditemukan pencilan bawah
Tidak ditemukan pencilan atas
Pencilan bawah :  []
Pencilan atas :  []

=============================

In [528]:
# menyimpan nilai max, min, mean, dan median tiap kolom ke baris baru di baris paling bawah

# buat dictionary baru untuk menampung data baris baru yg akan ditambahkan
row_max = {}

# kolom NIM diisi dengan nama data perhitungan statistik yg dilakukan
# (pada kode ini adalah mencari nilai max)
row_max['NIM'] = 'MAX'

# mencari berapa jumlah kolom pada df
df_len = len(df.columns)

# lakukan pengulangan pada semua kolom
for i in range (1, df_len):
    # lakukan perhitungan statistik
    # (pada kode ini adalah mencari nilai max)
    max_index = df[df.columns[i]].max()
    # tambahkan hasil perhitungan ke dictionary yg sudah dibuat di atas
    row_max[df.columns[i]] = max_index

#cek apakah isi list sudah berisi data hasil perhitungan
print(row_max)

# semua operasi lainnya seperti min, mean, median menggunakan cara yg sama seperti di atas

row_min = {}
row_min['NIM'] = 'MIN'
df_len = len(df.columns)
for i in range (1, df_len):
    min_index = df[df.columns[i]].min()
    row_min[df.columns[i]] = min_index
print(row_min)

row_mean = {}
row_mean['NIM'] = 'MEAN'
df_len = len(df.columns)
for i in range (1, df_len):
    row_mean[df.columns[i]] = round(df[df.columns[i]].mean(),2)
print(row_mean)

row_median = {}
row_median['NIM'] = 'MEDIAN'
df_len = len(df.columns)
for i in range (1, df_len):
    row_median[df.columns[i]] = round(df[df.columns[i]].median(),2)
print(row_median)

# kumpulkan semua dictionary hasil perhitungan ke dalam satu dictionary baru
rows = [row_max, row_min, row_mean, row_median]

# tambahkan dictionary rows ke df
df = df.append(rows, ignore_index=True)

# lihat df yg sudah ditambahkan datanya
df

{'NIM': 'MAX', 'TUGAS1': 100, 'TUGAS2': 100, 'QUIZ1': 100, 'QUIZ2': 100, 'UTS': 100, 'UAS': 100}
{'NIM': 'MIN', 'TUGAS1': 50, 'TUGAS2': 51, 'QUIZ1': 20, 'QUIZ2': 50, 'UTS': 50, 'UAS': 20}
{'NIM': 'MEAN', 'TUGAS1': 68.54, 'TUGAS2': 84.1, 'QUIZ1': 72.71, 'QUIZ2': 81.78, 'UTS': 81.44, 'UAS': 68.59}
{'NIM': 'MEDIAN', 'TUGAS1': 66.0, 'TUGAS2': 85.0, 'QUIZ1': 72.0, 'QUIZ2': 80.0, 'UTS': 84.0, 'UAS': 73.0}

           NIM  TUGAS1  TUGAS2   QUIZ1   QUIZ2     UTS     UAS
0   1101110061   50.00    75.0   50.00   78.00   79.00   40.00
1   1101110062   66.00    80.0   60.00   50.00   65.00   26.00
2   1101110063   60.00    75.0   77.00   79.00   80.00   51.00
3   1101110064   52.00    85.0   50.00   80.00   80.00   30.00
4   1101110065   70.00    85.0   72.00   80.00   80.00   88.00
5   1101110066   67.00    77.0   75.00   80.00   50.00   95.00
6   1101110067   72.00    80.0   70.00   90.00   85.00   86.00
7   1101110068   66.00    95.0   72.00   85.00   60.00   95.00
8   1101110069   76.00    95.0   90.00  100.00   95.00   79.00
9   1101110070   80.00    90.0  100.00  100.00   66.00   45.00
10  1101110071   92.00    75.0   60.00   92.00   86.00   79.00
11  1101110072   59.00    85.0   60.00   80.00   80.00   42.00
12  1101110073   55.00    80.0   70.00   90.00   85.00   61.00
13  1101110074   82.00    81.0   64.00   67.00   60.00   85.00
14  1101110075   98.00    95.0   80.00  100.00  100.00  100.00
15  1101110076   50.00    68.0   70.00   70.00   85.00   70.00
16  1101110077  100.00   100.0   90.00   90.00   95.00   96.00
17  1101110078   60.00    90.0   60.00   80.00   80.00   32.00
18  1101110079   95.00   100.0   78.00   66.00  100.00   90.00
19  1101110080   50.00    80.0   60.00   80.00   80.00   91.00
20  1101110081   73.00    95.0   90.00   90.00   95.00   88.00
21  1101110082  100.00    66.0  100.00   95.00   90.00   98.00
22  1101110083   80.00    95.0   90.00   90.00   95.00  100.00
23  1101110084   50.00    51.0   50.00   51.00   51.00   51.00
24  1101110085   62.00    95.0   90.00   90.00   95.00   58.00
25  1101110086   90.00    95.0   92.00   75.00   80.00   77.00
26  1101110087   60.00    95.0   70.00   70.00   85.00   64.00
27  1101110088   64.00    80.0   80.00   80.00   90.00   54.00
28  1101110089   85.00    85.0   90.00   95.00   90.00  100.00
29  1101110090   50.00    90.0   66.00   60.00   70.00   20.00
30  1101110091   60.00    80.0   80.00   80.00   80.00   72.00
31  1101110092   67.00    95.0   70.00   90.00   85.00   92.00
32  1101110093   60.00    84.0   82.00   71.00   84.00   60.00
33  1101110094   52.00    70.0   50.00   78.00   79.00   25.00
34  1101110095   53.00   100.0   90.00   90.00   95.00   74.00
35  1101110096   50.00    85.0   60.00   80.00   80.00   42.00
36  1101110097   71.00    85.0   63.00   91.00   98.00   73.00
37  1101110098   50.00    66.0   70.00   90.00   85.00   37.00
38  1101110099   88.00    90.0   80.00   88.00   94.00   56.00
39  1101110100   85.00    85.0   90.00   95.00   77.00  100.00
40  1101110101   60.00    70.0   20.00   67.00   50.00   90.00
41         MAX  100.00   100.0  100.00  100.00  100.00  100.00
42         MIN   50.00    51.0   20.00   50.00   50.00   20.00
43        MEAN   68.54    84.1   72.71   81.78   81.44   68.59
44      MEDIAN   66.00    85.0   72.00   80.00   84.00   73.00

In [548]:
# Membuat satu kolom baru yang mengakumulasi semua nilai mahasiswa
# (15% * rata-rata tugas + 15% * rata-rata quiz + 35% * UTS + 35% * UAS)

# membuat list kosong yg akan menampung nilai akumulasi
akumulasi = []

# mencari berapa jumlah kolom pada df
df_len = len(df.index)

# lakukan pengulangan pada semua kolom
for i in range (0, df_len):
    # masukkan rumusnya
    rata2_tugas = ((df.at[i,'TUGAS1'])+(df.at[i,'TUGAS2']))/2
    rata2_quiz = ((df.at[i,'QUIZ1'])+(df.at[i,'QUIZ2']))/2
    # tampung dalam variabel total
    total = (0.15*rata2_tugas) + (0.15*rata2_quiz) + (0.35*df.at[i,'UTS']) + (0.35*df.at[i,'UAS'])
    # masukkan nilai total ke list akumulasi
    akumulasi.append(total)
    
# buat kolom baru bernama AKUMULASI, kemudian tambahkan list akumulasi ke dalamnya
df['AKUMULASI'] = akumulasi

# cek df yg sudah ditambahkan datanya
df

           NIM  TUGAS1  TUGAS2   QUIZ1   QUIZ2     UTS     UAS  AKUMULASI
0   1101110061   50.00    75.0   50.00   78.00   79.00   40.00   60.62500
1   1101110062   66.00    80.0   60.00   50.00   65.00   26.00   51.05000
2   1101110063   60.00    75.0   77.00   79.00   80.00   51.00   67.67500
3   1101110064   52.00    85.0   50.00   80.00   80.00   30.00   58.52500
4   1101110065   70.00    85.0   72.00   80.00   80.00   88.00   81.82500
5   1101110066   67.00    77.0   75.00   80.00   50.00   95.00   73.17500
6   1101110067   72.00    80.0   70.00   90.00   85.00   86.00   83.25000
7   1101110068   66.00    95.0   72.00   85.00   60.00   95.00   78.10000
8   1101110069   76.00    95.0   90.00  100.00   95.00   79.00   87.97500
9   1101110070   80.00    90.0  100.00  100.00   66.00   45.00   66.60000
10  1101110071   92.00    75.0   60.00   92.00   86.00   79.00   81.67500
11  1101110072   59.00    85.0   60.00   80.00   80.00   42.00   64.00000
12  1101110073   55.00    80.0   70.00   90.00   85.00   61.00   73.22500
13  1101110074   82.00    81.0   64.00   67.00   60.00   85.00   72.80000
14  1101110075   98.00    95.0   80.00  100.00  100.00  100.00   97.97500
15  1101110076   50.00    68.0   70.00   70.00   85.00   70.00   73.60000
16  1101110077  100.00   100.0   90.00   90.00   95.00   96.00   95.35000
17  1101110078   60.00    90.0   60.00   80.00   80.00   32.00   60.95000
18  1101110079   95.00   100.0   78.00   66.00  100.00   90.00   91.92500
19  1101110080   50.00    80.0   60.00   80.00   80.00   91.00   80.10000
20  1101110081   73.00    95.0   90.00   90.00   95.00   88.00   90.15000
21  1101110082  100.00    66.0  100.00   95.00   90.00   98.00   92.87500
22  1101110083   80.00    95.0   90.00   90.00   95.00  100.00   94.87500
23  1101110084   50.00    51.0   50.00   51.00   51.00   51.00   50.85000
24  1101110085   62.00    95.0   90.00   90.00   95.00   58.00   78.82500
25  1101110086   90.00    95.0   92.00   75.00   80.00   77.00   81.35000
26  1101110087   60.00    95.0   70.00   70.00   85.00   64.00   74.27500
27  1101110088   64.00    80.0   80.00   80.00   90.00   54.00   73.20000
28  1101110089   85.00    85.0   90.00   95.00   90.00  100.00   93.12500
29  1101110090   50.00    90.0   66.00   60.00   70.00   20.00   51.45000
30  1101110091   60.00    80.0   80.00   80.00   80.00   72.00   75.70000
31  1101110092   67.00    95.0   70.00   90.00   85.00   92.00   86.10000
32  1101110093   60.00    84.0   82.00   71.00   84.00   60.00   72.67500
33  1101110094   52.00    70.0   50.00   78.00   79.00   25.00   55.15000
34  1101110095   53.00   100.0   90.00   90.00   95.00   74.00   84.12500
35  1101110096   50.00    85.0   60.00   80.00   80.00   42.00   63.32500
36  1101110097   71.00    85.0   63.00   91.00   98.00   73.00   83.10000
37  1101110098   50.00    66.0   70.00   90.00   85.00   37.00   63.40000
38  1101110099   88.00    90.0   80.00   88.00   94.00   56.00   78.45000
39  1101110100   85.00    85.0   90.00   95.00   77.00  100.00   88.57500
40  1101110101   60.00    70.0   20.00   67.00   50.00   90.00   65.27500
41         MAX  100.00   100.0  100.00  100.00  100.00  100.00  100.00000
42         MIN   50.00    51.0   20.00   50.00   50.00   20.00   37.32500
43        MEAN   68.54    84.1   72.71   81.78   81.44   68.59   75.54525
44      MEDIAN   66.00    85.0   72.00   80.00   84.00   73.00   77.67500

In [550]:
# Mengekspor dataset hasil proses statistik ke file csv baru
# bernama result_statistik.csv

df.to_csv('result_statistik.csv')